body{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    color: gold;
}

h2 {
    margin: 5px;
}

.title{
    text-align: center;
}

img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    display:block;
    margin: 0px auto;
}

.sections {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    padding: 10px 16px;
    margin: 30px 16px;
}

a {
    color: white;
}

#home a {
    background-color: gold;
    padding: 8px;
    box-shadow: 5px 5px 0px white;
    color: black;
    text-decoration-line: none;
}

#home a:hover{
    background-color: white;
    box-shadow: 0px 0px 0px white;
}
